@{
    ViewData["Title"] = Model.Title;
}

@model RoomsViewModel

<h3 class="mb-3">Chat rooms</h3>
<section class="container d-flex flex-column justify-content-center align-items-center">
    <a class="btn btn-success mb-3" asp-action="CreateRoom">Create room</a>
    <section class="d-flex flex-row justify-content-center flex-wrap">
        @foreach (var room in Model.Rooms)
        {
            <partial name="_RoomCard" model="@(RoomCardViewModel.Build(room).WithError(room.Id))" />
        }
    </section>
</section>

<partial name="_AlertPartial" model="@Model.Alert" />