@{
    ViewData["Title"] = Model.Title;
}

@model Worktop.WebApp.ViewModels.ResetPasswordViewModel

<form asp-action="SendResetPassword" class="d-flex flex-column justify-content-center w-50 mx-auto border rounded p-3">
    <h4 class="mb-3">Fill form below and reset your password</h4>

    <div class="text-danger text-center" asp-validation-summary="All"></div>

    <div class="form-group mt-3">
        <label asp-for="Email">Email address</label>
        <input type="email" asp-for="Email" placeholder="Email address..." class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword">New password</label>
        <input type="password" asp-for="NewPassword" placeholder="New password..." class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send reset password token</button>
</form>

<partial name="_AlertPartial" model="@Model.Alert" />