@using Microsoft.AspNetCore.Identity
@using Worktop.Core.Domain.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="collapse navbar-collapse bg-light" id="navigation-bar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-2">
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Home" class="nav-link">Dashboard<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Tasks" class="nav-link">Tasks</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="MailBox" class="nav-link">Mailbox</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Chat" class="nav-link">Chat</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Storage" class="nav-link">Storage</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Opinions" class="nav-link">Opinions</a>
            </li>
            <li class="nav-item">
                <a asp-action="Index" asp-controller="Profile" class="nav-link">Profile</a>
            </li>

            @await Component.InvokeAsync("AdminPanelNavbar")

        </ul>
        
        <form asp-controller="Auth" asp-action="Logout" class="form-inline ml-2">
            <span class="my-2 my-sm-0 mr-3">Hello <strong>@UserManager.GetUserName(User)</strong></span>
            <button class="btn btn-outline-info navbar-btn my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </div>
}
else
{
    <div class="collapse navbar-collapse bg-light" id="navigation-bar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-2">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Auth" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Auth" asp-action="ResetPassword">Reset password</a>
            </li>
        </ul>
    </div>
}