@model OpinionCardViewModel

<div class="card bg-light">
    <div class="card-body">
        <p class="card-text">@Model.Opinion.Text</p>
        <div class="row d-flex justify-content-around">
            <span class="text-dark">Bonus:
                <strong>@(!Model.Opinion.IsNegative ? (float)Model.Opinion.SalaryBonusPercentage : -
                    (float)Model.Opinion.SalaryBonusPercentage) %</strong>
            </span>
            <span class="text-dark text-center">Created:
                <strong>@Model.Opinion.DateCreated.ToLongDateString()</strong>
            </span>
        </div>
    </div>
</div>