@model Directory

<tr class="text-center">
    <td><a asp-action="Directory" asp-controller="Storage" asp-route-id=@Model.Id asp-route-isPrivate=@(Model.UserId !=
            null)>@Model.Name</a>
    </td>
    <td>@Model.DateCreated.ToString(@"dd.MM.yyyy, h:mm tt")</td>
    <td class=" d-flex flex-row justify-content-around align-items-center mb-3 p-1">
        @if (Model.UserId == null || Model.UserId ==
        Context.GetCurrentUserId())
        {
            <a asp-action="EditDirectory" asp-controller="Storage" asp-route-directoryId=@Model.Id
                class="btn btn-secondary"><i class="fas fa-edit"></i></a>
            <form asp-action="DeleteDirectory" asp-controller="Storage" asp-route-directoryId=@Model.Id
                asp-route-isPrivate=@(Model.UserId != null) asp-route-hasParentDirectory=@(Model.ParentDirectoryId != null)
                method="POST" class="text-center ml-1">
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </form>
        }
    </td>
</tr>