@using Worktop.Core.Common.Helpers
<li class="page-item">
    <button type="submit" class="page-link" asp-action=@ViewData[Constants.ActionName]
        asp-route-pageNumber=@ViewData[Constants.PageNumber]>@ViewData[Constants.PageNumber]</button>
</li>