@model OpinionCreatorViewModel

<h4>Worker opinion creator</h4>
<form method="POST" class="border rounded p-3 mt-2" asp-action="SendOpinion" asp-controller="Panel">
    <input type="hidden" asp-for=@Model.UserId />
    <div class="form-group">
        <label asp-for=@Model.IsNegative><strong>Is negative?</strong></label>
        <input type="checkbox" asp-for="@Model.IsNegative" class="mt-2" />
    </div>
    <div class="form-group">
        <label asp-for=@Model.SalaryBonusPercentage>Salary bonus +/- [%]</label>
        <input class="form-control" type="number" min="1" max="100" placeholder="Salary bonus..."
            asp-for="@Model.SalaryBonusPercentage" />
        <span asp-validation-for="SalaryBonusPercentage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=@Model.Text>Text</label>
        <textarea class="form-control" asp-for="@Model.Text" placeholder="Opinion content..." rows="15"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-secondary btn-block mt-3">Send opinion</button>
</form>