@model DirectoryFormViewModel

<form asp-action="CreateDirectory" asp-controller="Storage"
    class="d-flex flex-row justify-content-end align-items-center mt-3">
    <input type="hidden" asp-for=@Model.DirectoryPath />
    <input type="hidden" asp-for=@Model.DirectoryId />
    <input type="hidden" asp-for=@Model.IsPrivate />
    <div class="form-group mt-2 mr-3">
        <input asp-for=@Model.DirectoryName type="text" class="form-control" placeholder="New directory..." />
        <span class="text-danger" asp-validation-for=@Model.DirectoryName></span>
    </div>
    <button type="submit" class="btn btn-success mb-3"><i class="fas fa-folder-plus"></i></button>
</form>