@{
    ViewData["Title"] = Model.Title;
}

@model HomeViewModel

@inject IRolesService RolesService

@if (!await RolesService.IsPermitted(RoleName.Admin, Context.GetCurrentUserId()))
{
    <h2 class="mb-3">Welcome on the dashboard!</h2>
}
else
{
    <div class="d-flex flex-row justify-content-around mb-3 text-center">
        <h2>Welcome on the dashboard!</h2>
        <a class="btn btn-success float-right h-100" asp-action="NewArticle">New article</a>
    </div>
}

<section class="d-flex flex-row justify-content-center flex-wrap text-center">
    @foreach (var article in Model.Articles)
    {
        <partial name="_ArticleCard" model="@article" />
    }
</section>

<partial name="_AlertPartial" model="@Model.Alert" />