@{
    ViewData["Title"] = Model.Title;
}

@model MailViewModel

<h3 class="mb-3">Mail creator</h3>

<form asp-action="SendMail" class="d-flex flex-column justify-content-center w-50 mx-auto border rounded p-3">

    @await Component.InvokeAsync("Error", new {error = Model.Error})

    <div class="form-group mt-3">
        <input asp-for=@Model.Subject type="text" class="form-control" placeholder="Subject..." required />
        <span class="text-danger" asp-validation-for=@Model.Subject></span>
    </div>
    <div class="form-group">
        <input asp-for=@Model.ToAddress id="emailInput" list="emailsList" class="form-control" type="search" required
            placeholder="To..." />
        <datalist id="emailsList">
            @foreach (var emailAddress in Model.EmailAddresses)
            {
                <option>@emailAddress</option>
            }
        </datalist>
        <span class="text-danger" asp-validation-for=@Model.ToAddress></span>
    </div>
    <div class="form-group">
        <textarea asp-for=@Model.Content type="text" required placeholder="Email content..." rows="15"
            class="form-control"></textarea>
        <span class="text-danger" asp-validation-for=@Model.Content></span>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>

<partial name="_AlertPartial" model="@Model.Alert" />

@section scripts {
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/signalrConstants.js"></script>
    <script src="~/js/mailbox.js"></script>
    <script src="~/js/signalrMailboxHandler.js"></script>
}